
.container{
    display:flex;
    border: 1px solid red;
    width: 400px;
    
  
}

.item{

    border: 1px solid black;
    background-color: gray;
    flex-basis: 100%;
    
}

.container div:nth-child(1),
.container div:nth-child(4)
{

    flex-shrink:2;

}
